{% extends 'shelter/base.html' %}
{% load static %}

{% block content %}
<h2>Our FUR-tastic Showcase!</h2>

<div class="showcase">
    <div class="pet-card">
  <a href="{% url 'animals' %}?species=Dog">
    <img src="{% static 'shelter/dog.jpg' %}" alt="Dogs">
  </a>
  <p>Dogs</p>
</div>

<div class="pet-card">
  <a href="{% url 'animals' %}?species=Cat">
    <img src="{% static 'shelter/cat.jpg' %}" alt="Cats">
  </a>
  <p>Cats</p>
</div>
</div>

<p>Adopt today and give a loving animal a forever home.</p>
{% endblock %}
